html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Inter", -apple-system, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#workspace {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    position: relative;
}

#site-header {
    padding: 0 15px;
    background: #1d2021;
    color: white;
    border-bottom: 1px solid #686868;
}

#site-header h1 {
    font-size: 20px;
    font-weight: 900;
}

#playground {
    background: lightgray;
    overflow-y: scroll;
    height: 100%;
    flex: 1 1 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-root {
    width: 500px;
    height: 500px;
    background: #ebebeb;
    border-radius: 15px;
}

#toolbox {
    background: #fafafa;
    overflow-y: scroll;
    height: 100%;
    position: relative;
    width: 300px;
    border-right: 1px solid lightgray;
    z-index: 99;
    color: gray;
}

#properties-panel {
    background: #fafafa;
    border-left: 1px solid lightgray;
    overflow-y: scroll;
    height: 100%;
    width: 300px;
    font-size: 80%;
    color: #282828;
}

#properties-panel .element-name {
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid lightgray;
    text-transform: uppercase;
}

.inspector-section {
    border-bottom: 1px solid lightgray;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.inspector-section h2, h3, h4 {
    margin: 0 0 5px;
    font-weight: 500;
    text-transform: uppercase;
}


.template-menu {
    padding: 0;
    margin: 0;
}

.template-menu li {
    padding: 15px;
    width: 100%;
    color: #383838;
    font-weight: 500;
}

.template-menu li:hover {
    background: #dadada;
}

.template-list {
    float: left;
    position: absolute;
    left: -100px;
    top: 0;
    background: #dadada;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 400px;
    overflow-y: scroll;
    border-right: 1pt solid #ababab;
    transition: left 0.5s ease-in-out;
}

.template-list.shown, .template-list:hover {
    left: 300px;
}

.template-item-wrapper {
    padding: 20px;
}

.template-list .submenu {
    display: none;
}

.submenu.active {
    display: block;
}

.template-wrapper {
    font-size: 50%;
    border-radius: 10px;
    clip-path: inset(0px 0px round 10px);
}

.module {
    margin-top: 10px;
    padding: 20px;
}

/* INSPECTOR TOOLS */

.spacing-box {
    width: 100%;
    border: 1px solid lightgray;
    position: relative;
    padding: 10px 0;
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5px;
}

.spacing-box-bg, .spacing-box-inner-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.spacing-box-inner-border {
    height: 55%;
    width: 55%;
    top: 22%;
    left: 22%;
    border: 1px solid #6395eb;
    border-radius: 2px;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    font-size: 90%;
    width: 35px;
    height: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid lightgray;
}

#left-padding {
    margin-right: 20px;
}

#right-padding {
    margin-left: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.input-wrapper:first-child, .input-wrapper:last-child {
    grid-column-start: 1;
    grid-column-end: 5;
}

.input-wrapper:nth-child(2), .input-wrapper:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 5;
}

.color-picker-input {
    display: flex;
    flex-direction: row;
    background: white;
    border: 1px solid lightgray;
    align-items: center;
    border-radius: 5px;
}

.color-picker-input input[type="text"] {
    border: 0;
    border-radius: 0;
    text-align: left;
    font-size: 100%;
}

input[type="color"] {
    width: 35px;
    height: 35px;
    padding: 0;
    border: 0;
    outline: none;
}

.color-hex-code {
    flex: 1;
}

/* MODULES */

menu {
    background: #1d2021;
    color: white;
    padding: 20px;
    margin: 0;
}

.light {
    background: #eaeaea;
    color: #1b2021;
}

menu h1 {
    margin: 0 0 10px;
    text-align: center;
}

menu nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul {
    padding: 0;
    text-align: center;
}

.template-list-inner {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title {
    margin: 10px 0;
    background: #eaeaea;
}

.subtitle {
    margin: 0;
    background: #eaeaea;
}

.text {
    padding: 10px 0;
    background: #eaeaea;
    font-family: serif;
}

.two-columns {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 10px 0;
    background: #eaeaea;
    font-family: serif;
}

.two-columns p {
    flex: 1;
    text-align: justify;
}
