@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Inter", -apple-system, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#workspace {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    position: relative;
    overflow-y: scroll;
}

#highlight {
    position: absolute;
    left: 0;
    right: 0;
    width: 0px;
    height: 0px;
    z-index: 1;
    background: rgba(90, 200, 200, 0.5);
    pointer-events: none;
    transition: 0.25s ease-in-out;
}

#workspace *:focus {
    outline: 1px solid rgba(90, 200, 200, 1);
}

#site-header {
    padding: 0 15px;
    background: #1d2021;
    color: white;
    border-bottom: 1px solid #686868;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#site-header h1 {
    font-size: 20px;
    font-weight: 900;
    margin-right: 20px;
}

#site-header button {
    background: rgb(50, 200, 80);
    color: white;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 0 5px;
}

#site-header i {
    color: white;
    font-size: 22px;
}

#playground {
    background: lightgray;
    overflow-y: scroll;
    height: 100%;
    flex: 1 1 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-root {
    width: 500px;
    height: 500px;
    background: #ebebeb;
    border-radius: 15px;
}

#toolbox {
    background: #fafafa;
    overflow-y: scroll;
    height: 100%;
    position: relative;
    width: 300px;
    border-right: 1px solid lightgray;
    z-index: 99;
    color: gray;
}

#properties-panel {
    background: #fafafa;
    border-left: 1px solid lightgray;
    height: 100%;
    width: 300px;
    font-size: 80%;
    color: #282828;
    overflow: scroll;
    scrollbar-width: none;
}

#properties-panel::-webkit-scrollbar {
    width: 0 !important;
}

#properties-panel .element-name {
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid lightgray;
    text-transform: uppercase;
}

.inspector-section {
    border-bottom: 1px solid lightgray;
    padding: 0px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.inspector-section h2, h3, h4 {
    margin: 15px 0 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.hidden {
    display: none;
}


.template-menu {
    padding: 0;
    margin: 0;
}

.template-menu li {
    padding: 15px;
    width: 100%;
    color: #383838;
    font-weight: 500;
}

.template-menu li:hover {
    background: #dadada;
}

.template-list {
    float: left;
    position: absolute;
    left: -100px;
    top: 0;
    background: #dadada;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    width: 400px;
    overflow-y: scroll;
    border-right: 1pt solid #ababab;
    transition: left 0.5s ease-in-out;
    z-index: 2;
}

.template-list.shown, .template-list:hover {
    left: 300px;
}

.template-item-wrapper {
    padding: 20px;
}

.template-list .submenu {
    display: none;
}

.submenu.active {
    display: block;
}

.template-wrapper {
    font-size: 50%;
    border-radius: 10px;
    clip-path: inset(0px 0px round 10px);
}

.module {
    margin-top: 10px;
    padding: 20px;
}

/* INSPECTOR TOOLS */


.spacing-box {
    width: 100%;
    border: 1px solid lightgray;
    position: relative;
    padding: 10px 0;
}

.grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5px;
}

.spacing-box-bg, .spacing-box-inner-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.spacing-box-inner-border {
    height: 55%;
    width: 55%;
    top: 22%;
    left: 22%;
    border: 1px solid #6395eb;
    border-radius: 2px;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    font-size: 90%;
    width: 35px;
    height: 20px;
    margin: 5px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid lightgray;
    background: transparent;
    margin: 5px 0px;
}

select {
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.flex-grow {
    flex: 1;
}

#font-selector {
    width: 100%;
    padding: 10px;
}

#url-input {
    width: 100%;
}

#left-padding {
    margin-right: 20px;
}

#right-padding {
    margin-left: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.pixel {
    color: gray;
    font-size: 12px;
}

i {
    color: gray;
}

.input-wrapper:first-child, .input-wrapper:last-child {
    grid-column-start: 1;
    grid-column-end: 5;
}

.input-wrapper:nth-child(2), .input-wrapper:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 5;
}

.color-picker-input {
    display: flex;
    flex-direction: row;
    background: white;
    border: 1px solid lightgray;
    align-items: center;
    border-radius: 5px;
}

.color-picker-input input[type="text"] {
    border: 0;
    border-radius: 0;
    text-align: left;
    font-size: 100%;
}

input[type="color"] {
    width: 35px;
    height: 35px;
    padding: 0;
    border: 0;
    outline: none;
    margin: 0;
}

input[type="color"]:focus {
    outline: 0px !important;
}

.color-hex-code {
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px 0;
    align-items: stretch;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.input-container i {
    margin-left: 10px;
}

.input-container span {
    margin-right: 10px;
}

.input-container:not(:last-child) {
    border-right: 1px solid lightgray;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

input[type="radio"] + label:not(:last-child) {
    border-right: 1px solid lightgray;
}

input[type="radio"]:checked + label i {
    color: blue !important;
}

.row button {
    flex: 1;
    background: none;
    border: 0;
    padding: 10px;
    font-size: 18px;
}

.row button:not(:last-child) {
    border-right: 1px solid lightgray;
}

input.nobg {
    border: none;
    border-radius: 0px;
    width: 100%;
}

input.small {
    margin: 5px 0 !important;
}

button.checked i {
    color: blue !important;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: 2px;
  background: lightgray;
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(gray, gray);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type="range"]:focus {
  outline: none !important;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  cursor: ew-resize;
  border: 2px solid gray;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: white;
  cursor: ew-resize;
  border: 2px solid gray;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

button.remove-button {
  background: white;
  color: #c64d61;
  border: 1px solid #c64d61;
  transition: 0.5s ease-in-out;
  flex: 1;
  margin: 20px;
  height: 50px;
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button.remove-button:hover {
  background: #c64d61;
  color: white;
}

#children-inspector ul {
    list-style: none;
    padding: 0;
}

#children-inspector ul ul {
    padding: 0 0 0 15px;
}

.list-item {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin: 10px;
    font-size: 16px;
}

.list-item span {
    flex: 1;
}

/* MODULES */

menu {
    background: #1d2021;
    color: white;
    padding: 20px;
    margin: 0;
}

.light {
    background: #eaeaea;
    color: #1b2021;
}

menu h1 {
    margin: 0 0 10px;
    text-align: center;
}

menu nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul {
    padding: 0;
    text-align: center;
}

.template-list-inner {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title {
    margin: 10px 0;
    background: #eaeaea;
}

.subtitle {
    margin: 0;
    background: #eaeaea;
}

.text {
    padding: 10px 0;
    background: #eaeaea;
    font-family: serif;
}

.two-columns {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 10px 0;
    background: #eaeaea;
    font-family: serif;
}

.two-columns p {
    flex: 1;
    text-align: justify;
}

img {
    width: 100%;
    object-fit: cover;
}
